
  <!-- Main navigation -->
  <header>
  
    <!-- Full Page Intro -->
    <div class="view grey lighten-3">
        <!-- Content -->
        <div class="container h-100">
          <!--Grid row-->
          <div class="row align-items-center h-100">
            <!--Grid column-->
            <div class="col-md-6">
              <h1 class="mb-4">Home do <span class="text-warning">Curso de Spring Boot com Angular 7/8</span><br>
                <!--<span class="cyan-text">restaurants</span> near you.-->
              </h1>
              <p class="mb-4 pb-2 dark-grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae, culpa qui officia deserunt laborum fuga similique mollit id quos aperiam proident non ut rerum debitis.</p>
              <button type="button" routerLink="/login" class="btn btn-primary btn-rounded btn-md ml-md-0">Vamos começar</button>
            </div>
            <!--Grid column-->
         
            <!--Grid column-->
            <div class="col-md-6">
              <img src="https://mdbootstrap.com/img/illustrations/hiker-man-colour.svg" alt="" class="img-fluid">
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
    <!-- Full Page Intro -->
    
  </header>
  <!-- Main navigation -->